{% extends "pages/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="d-flex align-items-center min-vh-100">
    <div class="container">
        <div class="card border-primary">
            <div class="card-header">
                <h1>{% trans "Change Password" %}</h1>
            </div>

            <div class="card-body">
                <p>{% trans 'Your password is now changed.' %}</p>

                <div>
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                        {% else %}
                    </ul>
                    <p>You can now <a href="{% url 'account_login' %}">Sign In</a> if you want to continue or <a href="{% url 'account_signup' %}">Sign Up</a> to register.</p>
                    {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
