<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> {% block custom_css %}{% endblock custom_css %}

    <!-- MDB -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}"/>

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/f77049314d.js" crossorigin="anonymous"></script>

    <title>ShareItBlog{% block title %}{% endblock title %}</title>
</head>

<body>
    {% include 'pages/navbar.html' %}
    
    {% block content %}
    
    {% endblock content %}
    
    {% include 'pages/scripts.html' %}
</body>
{% block custom_js %}
{% endblock custom_js %}

</html>