<section class="mt-5">
    {% if user.is_authenticated %}
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="#">ShareItBlog.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    {% else %}
    <!-- Footer -->
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Register for free</span>
                    <a href="{% url 'account_signup' %}" type="button" class="btn btn-outline-light btn-rounded">
                        <strong>Sign up!</strong>
                    </a>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-white" href="#">ShareItBlog.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    {%endif%}
</section>