{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load hitcount_tags %}

{% block title %} | My Profile{% endblock title %}

{% block content %}

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 col-xl-10">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row"z style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="{{ profile.avatar.url }}" alt="Generic placeholder image"
                                class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">

                            <div class="d-flex justify-content-center mb-2">
                                {% if user.is_authenticated %}
                                <a href="{% url 'pages:update_profile' %}" type="button" class="btn btn-secondary"
                                    data-mdb-ripple-color="dark" style="z-index: 1;">
                                    Edit profile
                                </a>
                                {% endif %}
                            </div>

                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ profile.first_name }}&nbsp;{{ profile.middle_name }}&nbsp;{{ profile.last_name }}
                            </h5>
                            <p>{{ profile.user }}</p>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">{{ posts_count }}</p>
                                <p class="small text-muted mb-0"># of Blog Posts</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">{{ comment_count }}</p>
                                <p class="small text-muted mb-0"># Comments</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About Me</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">{{ profile.bio }}</p>
                            </div>

                            <p class="lead fw-normal mb-1">Email Address</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">{{ profile.user.email }}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">My Blog Posts</p>
                        </div>
                        <div class="row g-2">
                            {% if posts %}
                            {% for post in posts %}
                            <div class="col-md-6">
                                <div
                                    class="card border hover-shadow-6 mb-6 d-block bg-image hover-overlay hover-zoom hover-shadow ripple">
                                    {% if post.thumbnail %}
                                    <a href="#"><img class="card-img-top" src="{{ post.thumbnail.url }}"
                                            alt="Card image cap" style="height: 18rem;"></a>
                                    {% else %}
                                    <a href="#"><img class="card-img-top" src="{{ post.image_url }}"
                                            alt="Card image cap" style="height: 18rem;"></a>
                                    {% endif %}

                                    <div class="card-body p-6 text-center">
                                        <div class="Tags gap-xy-2 text-center mt-6">
                                            {% for category in post.categories.all %}
                                            <a href="#" class="badge badge-secondary text-uppercase">{{ category }}</a>
                                            {% endfor %}
                                        </div>
                                        <h5 class="card-title mb=0"><a class="text-dark" href="{{ post.post_link }}">{{ post.title }}</a></h5>
                                        <p>Author:&nbsp;{{ post.author }}</p>
                                        <p>
                                            Published on:&nbsp;{{ post.created_at|date }} | {% get_hit_count for post %}&nbsp;&nbsp;<i class="fas fa-eye" aria-hidden="true"></i>&nbsp;views
                                        </p>
                                    </div>
                                </div>
                                <br>
                            </div>
                            {% endfor %}

                            {% else %}
                            <h1 align="center">No post for this user yet...</h1>
                            {% endif %}
                            {% comment %} end for all the blog post of the current user {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'blog/pagination.html' %}
    {% include 'pages/footer.html' %}
</section>

{% endblock content %}