{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} | Update Profile{% endblock title %}

{% block content %}

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 col-xl-10">
                <div class="card">
                    <h1 class="card-title ml-5 mt-5">Edit Profile</h1>
                    <div class="bg-image hover-overlay hover-zoom hover-shadow ripple text-center">
                        <img class="img-fluid" style="height: 18rem;" src="{{ user.profile.avatar.url }}">
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
            
                                {% if success %}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <strong>Your profile has been updated.</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}

                                {% if failed %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Email already exist. Failed to update your profile.</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}
            
                                <legend class="border-bottom mb-4">Profile Info</legend>
                                {{ u_form|crispy }}
                                {{ p_form|crispy }}
            
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" type="submit">Update profile</button>
                                </div>
                            </fieldset>
                        </form>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'pages/footer.html' %}
</section>

{% endblock %}