{% load static %}

<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            {% url 'home' as home %}
            <a class="navbar-brand" href="#">
                <h3 class="display-6 text-muted">ShareItBlog</h3>
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages:home' %}">Home</a>
                </li>
                {% url 'post_blog_page' as post_blog_page %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_blog_page' %}">Compose blog</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
        {% if user.is_authenticated %}
        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <p class="me-auto mb-2 mb-lg-0"><strong style="color: green;">Hello, {{ user }}!</strong></p>
            
            <!-- Avatar -->
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuAvatar"
                    role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <img class="avatar rounded-circle" height="30" alt="This is image..." loading="lazy" src="{{ request.user.profile.avatar.url }}">
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    {% url 'my_profile' as my_profile %}
                    <li><a class="dropdown-item" href="{% url 'pages:my_profile' %}">My Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'pages:change-password' %}">Change Password</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
                </ul>
            </div>
        </div>
        {% else %}
        <div class="d-flex align-items-center">
            <a type="button" class="btn btn-link px-3 me-2" href="{% url 'account_login' %}">
            Login
            </a>
            <a type="button" class="btn btn-primary me-3" href="{% url 'account_signup' %}">
            Sign up for free
            </a>
        </div>
        {% endif %}
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- end of navbar -->

<!-- {% block mdb_js %}

{% endblock mdb_js %} -->