{% extends 'pages/base.html' %}
{% load static %}

{% block title %} | Portfolio{% endblock title %}

{% block content %}

<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="{{ dev_profile.dev_avatar.url }}" alt="dev_avatar" class="rounded-circle img-fluid"
                            style="width: 150px;">
                        <h5 class="my-3">{{ dev_profile.first_name }}&nbsp;{{ dev_profile.middle_name|slice:'1' }}.&nbsp{{ dev_profile.last_name }}</h5>
                        <p class="text-muted mb-1">{{ dev_profile.job_title }}</p>
                        <p class="text-muted mb-4">{{ dev_profile.address }}</p>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary">Follow</button>
                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                        </div>
                    </div>
                </div>

                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">shareitblog.com</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">joemargreta16</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">facebook.com/joemar.greta</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="card mt-4 mb-lg-0">
                    <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">Language</span>&nbsp;Spoken</p>
                        <p class="mb-1" style="font-size: .77rem;">Bisaya</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 8%" aria-valuenow="8"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Tagalog</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 96%" aria-valuenow="96"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="mt-4 mb-1" style="font-size: .77rem;">English</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="card mt-4 mb-lg-0">
                    <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">Skills</span>&nbsp;Acquired</p>
                        <p class="mt-4 mb-1" style="font-size: .77rem;">C#</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-4 mb-1" style="font-size: .77rem;">Django</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <p class="mt-4 mb-1" style="font-size: .77rem;">JAVA/p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-4 mb-1" style="font-size: .77rem;">MS Excel</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-4 mb-1" style="font-size: .77rem;">MS Powerpoint</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-4 mb-1" style="font-size: .77rem;">MS Word</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-4 mb-1" style="font-size: .77rem;">MySQL</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-4 mb-1" style="font-size: .77rem;">PostgreSQL</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="mt-4 mb-1" style="font-size: .77rem;">Python</p>
                        <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                 
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="mb-3 text-uppercase">Developer's Profile Info</h3>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dev_profile.first_name }}&nbsp;{{ dev_profile.middle_name }}.&nbsp{{ dev_profile.last_name }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dev_profile.email }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dev_profile.phone }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Mobile</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dev_profile.mobile }}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dev_profile.address }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="mb-3 text-uppercase">Educational Background</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Level</th>
                                    <th scope="col">Inclusive Dates</th>
                                    <th scope="col">Name of school/Institution</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for educ in dev_edu_background %}
                                <tr>
                                    <td class="text-muted">{{ educ.level }}</td>
                                    <td class="text-muted">{{ educ.inclusive_date }}</td>
                                    <td class="text-muted">{{ educ.school_or_institution }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="mb-3 text-uppercase">Professional/Volunteer Experience</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Inclusive Dates</th>
                                    <th scope="col">Nature of Experience/Job Title</th>
                                    <th scope="col">Name of Company/Organization</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exp in dev_pro %}
                                <tr>
                                    <td class="text-muted">{{ exp.inclusive_date }}</td>
                                    <td class="text-muted">{{ exp.exp_or_job_title }}</td>
                                    <td class="text-muted">{{ exp.company_or_organization }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="mb-3 text-uppercase">Trainings, Seminar/Workshop Attended</h3>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Inclusive Dates</th>
                                    <th scope="col">Title of Trainings, Seminar/Workshop Attended</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attended in dev_attended %}
                                <tr>
                                    <td class="text-muted">{{ attended.inclusive_date }}</td>
                                    <td class="text-muted">{{ attended.training_seminar_workshop_attended }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">My</span> Projects</p>
                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>
                                <div class="progress rounded mb-2" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'pages/footer.html' %}
</section>

{% endblock content %}