<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> {% block custom_css %}{% endblock custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/f77049314d.js" crossorigin="anonymous"></script>

    <title>ShareItBlog | Joemar T. Greta</title>
</head>

<body>
    {% include 'pages/navbar.html' %}
    <div class="portfolio-body">
        <div class="portfolio-container">
            <!-- left side -->
            <div class="left-side">
                <div class="profile">
                    <div class="profile-img">
                        <img src="{% static 'profile_img.png' %}" alt="">
                    </div>
                    <h2>Joemar T. Greta<br><span>Web Dev</span></h2>
                </div>
                <!-- contact info -->
                <div class="contact">
                    <h2 class="title1">Contact me</h2>
                    <ul>
                        <li>
                            <span class="icon"><i class="fas fa-phone" aria-hidden="true"></i></span>
                            <span class="text">+639452209284</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fab fa-facebook-f"></i></span>
                            <span class="text">facebook.com/joemar.greta</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fab fa-linkedin-in"></i></span>
                            <span class="text">linkedin.com/me</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fas fa-envelope"></i></span>
                            <span class="text">joemar.greta16@gmail.com</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-map-marker"></i></span>
                            <span class="text">209 Gana Compound Barangay Unang Sigaw Balintawak Q.C.</span>
                        </li>
                    </ul>
                </div>
                <!-- end of contct info -->
                <!-- education background -->
                <div class="contact education">
                    <h2 class="title1">Education</h2>
                    <ul>
                        <li>
                            <h5>2017 - 2021</h5>
                            <h4>BS Information Technology</h4>
                            <h4>STI College - Munoz EDSA</h4>
                        </li>
                        <li>
                            <h5>2004 - 2008</h5>
                            <h4>San Jose High School</h4>
                        </li>
                        <li>
                            <h5>1998 - 2004</h5>
                            <h4>Bonifacio Memorial Elementary School</h4>
                        </li>
                    </ul>
                </div>
                <!-- end of education background -->
                <!-- education background -->
                <div class="contact language">
                    <h2 class="title1">Languages</h2>
                    <ul>
                        <li>
                            <span class="text">Bisaya</span>
                            <span class="percent">
                                <div style="width: 5%;"></div>
                            </span>
                        </li>
                        <li>
                            <span class="text">English</span>
                            <span class="percent">
                                <div style="width: 85%;"></div>
                            </span>
                        </li>
                        <li>
                            <span class="text">Tagalog</span>
                            <span class="percent">
                                <div style="width: 100%;"></div>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- end of education background -->
            </div>
            <!-- end of left side -->
            <!-- right side -->
            <div class="right-side">
                <!-- profile -->
                <My class="about">
                    <h2 class="title2">Profile</h2>
                    <p>My name is Joemar T. Greta or simply "Joemar", and I'm 30 years old.
                    I graduated with a bachelor's in Information Technology.
                    I chose this field of study because I've always been interested in computer games
                    and programming, and a couple of my family and friends told me that it leads to great career options.
                    <br><br>
                    One of my best experience during my academic career is when I and my friends join in an event
                    called "hackathon", and we learned a lot such as how to pitch your system and how to properly
                    analyze the current problem to find and provide the proper solution.</p>
                </div>
                <!-- end of profile -->
            </div>
            <!-- end of right side -->
        </div>
    </div>
    {% include 'pages/scripts.html' %}
</body>
</html>