<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- custom CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> {% block custom_css %}{% endblock custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/f77049314d.js" crossorigin="anonymous"></script>

    <title>ShareItBlog | Joemar T. Greta</title>
</head>

<body>
    {% include 'pages/navbar.html' %}
    <div class="portfolio-body">
        <div class="portfolio-container">
            <!-- left side -->
            <div class="left-side">
                <div class="profile">
                    <div class="profile-img">
                        <img src="{% static 'profile_img.png' %}" alt="">
                    </div>
                    <h2>Joemar T. Greta<br><span>Web Dev</span></h2>
                </div>
                <!-- contact info -->
                <div class="contact">
                    <h2 class="title1">Contact me</h2>
                    <div class="contact-info">
                        <span class="icon"><i class="fas fa-phone" aria-hidden="true"></i></span>
                        <span class="text">+639452209284</span>
                    </div>

                    <div class="contact-info">
                        <span class="icon"><i class="fab fa-facebook-f"></i></span>
                        <span class="text">facebook.com/joemar.greta</span>
                    </div>

                    <div class="contact-info">
                        <span class="icon"><i class="fab fa-linkedin-in"></i></span>
                        <span class="text">linkedin.com/in/joemar-greta-98a970175</span>
                    </div>

                    <div class="contact-info">
                        <span class="icon"><i class="fas fa-envelope"></i></span>
                        <span class="text">joemar.greta16@gmail.com</span>
                    </div>

                    <div class="contact-info">
                        <span class="icon"><i class="fa fa-map-marker"></i></span>
                        <span class="text">209 Gana Compound Barangay Unang Sigaw Balintawak Q.C.</span>
                    </div>
                </div>
                <!-- end of contct info -->
                <!-- education background -->
                <div class="contact education">
                    <h2 class="title1">Education</h2>
                    <ul>
                        <li>
                            <h5>2017 - 2021</h5>
                            <h3>BS Information Technology</h3>
                            <h4>STI College - Munoz EDSA</h4>
                        </li>
                        <li>
                            <h5>2004 - 2008</h5>
                            <h4>San Jose High School</h4>
                        </li>
                        <li>
                            <h5>1998 - 2004</h5>
                            <h4>Bonifacio Memorial Elementary School</h4>
                        </li>
                    </ul>
                </div>
                <!-- end of education background -->
                <!-- education background -->
                <div class="contact language">
                    <h2 class="title1">Languages</h2>
                    <ul>
                        <li>
                            <span class="text">Bisaya</span>
                            <span class="percent">
                                <div style="width: 5%;"></div>
                            </span>
                        </li>
                        <li>
                            <span class="text">English</span>
                            <span class="percent">
                                <div style="width: 85%;"></div>
                            </span>
                        </li>
                        <li>
                            <span class="text">Tagalog</span>
                            <span class="percent">
                                <div style="width: 100%;"></div>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- end of education background -->
            </div>
            <!-- end of left side -->
            <!-- right side -->
            <div class="right-side">
                <!-- profile -->
                <div class="about">
                    <h2 class="title2">Profile</h2>
                    <p >Hello, my name is Joemar Greta, you can call me Joemar, and I am thirty years old. I graduated with a bachelor's degree in Information Technology. I chose this area of study because I always had an interest in computer algorithm and programming. And a couple of family members and friends told me that it leads to greater career options.
                        <br><br>
                        During my academic career me and my friends join in an event called a hackathon, and we learned a lot from that competition, such as how to pitch your system, and how to properly analyze the current problem to find and provide the proper solution. I also realized that there are still a lot of technologies that could be the solution to the problem we are currently experiencing.
                        <br><br>
                        I'm a documentary researcher on my theses days. And there is a situation where our programmer is unable to accomplish his job on schedule because he has a fever and there are only three days before the mock defense. To ensure that we will be able to present our system to the panel, I decided to do the programming temporarily until the scheduled mock defense.
                    </p>
                </div>

                <div class="about">
                    <h2 class="title2">Experience</h2>
                    <div class="box">
                        <div class="inclusive_dates">
                            <h5>October 31, 2019</h5>
                            <h6>Participant</h6>
                        </div>
                        <div class="text">
                            <h4>Impact Hackathon</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus quam aliquam libero rutrum malesuada. Phasellus aliquam libero ac ornare elementum. Ut scelerisque ultricies tellus eu porttitor. Donec eu euismod nibh, eget congue tellus. Duis ullamcorper quam risus, nec accumsan ligula auctor a. Proin quis euismod dolor, quis porttitor magna.
                            </p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inclusive_dates">
                            <h5>November 2019</h5>
                            <h6>Participant</h6>
                        </div>
                        <div class="text">
                            <h4>Coca-Cola: CodeFest2019</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus quam aliquam libero rutrum malesuada. Phasellus aliquam libero ac ornare elementum. Ut scelerisque ultricies tellus eu porttitor. Donec eu euismod nibh, eget congue tellus. Duis ullamcorper quam risus, nec accumsan ligula auctor a. Proin quis euismod dolor, quis porttitor magna.
                            </p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inclusive_dates">
                            <h5>2019</h5>
                            <h6>Participant</h6>
                        </div>
                        <div class="text">
                            <h4>HomeCredit: Hackathon</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus quam aliquam libero rutrum malesuada. Phasellus aliquam libero ac ornare elementum. Ut scelerisque ultricies tellus eu porttitor. Donec eu euismod nibh, eget congue tellus. Duis ullamcorper quam risus, nec accumsan ligula auctor a. Proin quis euismod dolor, quis porttitor magna.
                            </p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="inclusive_dates">
                            <h5>2019</h5>
                            <h6>Participant</h6>
                        </div>
                        <div class="text">
                            <h4>HackaTAX</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dapibus quam aliquam libero rutrum malesuada. Phasellus aliquam libero ac ornare elementum. Ut scelerisque ultricies tellus eu porttitor. Donec eu euismod nibh, eget congue tellus. Duis ullamcorper quam risus, nec accumsan ligula auctor a. Proin quis euismod dolor, quis porttitor magna.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end of profile -->
            </div>
            <!-- end of right side -->
        </div>
    </div>
    {% include 'pages/scripts.html' %}
</body>
</html>