@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.portfolio-body{
    background: #1B1E2B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.portfolio-container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
/* left side */
.portfolio-container .left-side{
    position: relative;
    background: #292D3E;
    padding: 40px;
}

.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profile .profile-img{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .profile-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profile h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.contact{
    padding-top: 40px;
}

.title1{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
/* contact */
.contact ul{
    position: relative;
}
.contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #fff;
}

.contact ul li span{
    color: #fff;
    font-weight: 200;
}

.contact ul li .text{
    font-size: 15px;
}
/* education */
.contact.education{
    margin-bottom: 15px;
}

.contact.education h5{
    color: #e3a9f4;
    font-weight: 500;
}

.contact.education h4:nth-child(1){
    color: #fff;
    font-weight: 500;
}

.contact.education h4{
    color: #fff;
    font-weight: 300;
}
/* language */
.contact.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contact.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #e3a9f4;
}
/* right side */
.portfolio-container .right-side{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #1B1E2B;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}