<div class="bg-light">
    <h4 class="card-header font-italic">About</h4>
    <div class="card-body">
        <p class="mb-0"><strong>Hello, World!</strong></p><br>
        <p class="mb-0">My name is <a class="text-dark" href="{% url 'pages:portfolio' %}"><strong style="color: green;">Joemar T. Greta.</strong></a>, I developed ShareItBlog for us to share the knowledge or
            stories we want to tell to others.
            I hope you'll enjoyed the sharing with respect and responsibility to your post.
        </p>
    </div>
</div>