<div class="card mt-4">
    <div class="card-body bg-light">
        <h3 class="card-title">About</h3>
        <p class="card-text">
            <p class="mb-0"><strong>Hello, World!</strong></p><br>
            <p class="mb-0">My name is <a class="text-dark" href="{% url 'pages:portfolio' %}"><strong style="color: green;">Joemar T. Greta.</strong></a>, I developed ShareItBlog for us to share the knowledge or
                stories we want to tell to others.
                I hope you'll enjoyed the sharing with respect and responsibility to your post.
            </p>
        </p>
    </div>
</div>