{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} | Compose{% endblock title %}

{% block content %}

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-10 col-xl-10">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Let's compose a blog</h1>
                        <p class="card-text">
                            {% if user.is_authenticated %}
                            <br><br>
                        <div class="form-group">
                            <form method="POST" action="" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.media|safe }}
                                {{ form|crispy }}
                                {% comment %} {% if user.is_authenticated %} {% endcomment %}
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Publish</button>
                                {% comment %} {% endif %} {% endcomment %}
                            </form>
                        </div>
                        <script>
                            var name = "{{ user.id }}";
                            document.getElementById("author_id").value = name;
                        </script>
                        {% else %}
                        <h1 align="center">Please <a href="{% url 'account_signup' %}" class="badge badge-info">Register</a> or
                            <a href="{% url 'account_login' %}" class="badge badge-info">Sign In</a> First...
                        </h1>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'pages/footer.html' %}
</section>

{% endblock %}