{% load hitcount_tags %}
{% load static %}

{% for post in posts %}
<div class="col-md-6">
    <div class="card border hover-shadow-6 mb-6 d-block">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            {% if post.thumbnail %}
            <img class="img-fluid" src="{{ post.thumbnail.url }}" style="height: 18rem;">
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
            {% else %}
            <img class="img-fluid" src="{{ post.image_url }}" style="height: 18rem;">
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="Tags gap-xy-2 mt-6">
                {% for category in post.categories.all %}
                <a href="#" class="badge badge-primary text-uppercase">{{ category }}</a>
                {% endfor %}
            </div>
            <h5 class="card-title"><strong>{{ post.title }}</strong></h5>
            <p>
                <img src="{{ post.author.profile.avatar.url }}" alt="" style="max-width:50px;max-height:50px;"
                    class="avatar rounded-pill img-fluid mr-3">Author:&nbsp;{{ post.author }}
            </p>
            <p class="text-muted">
                Published on:&nbsp;{{ post.created_at|date }} | {% get_hit_count for post %}&nbsp;&nbsp;<i
                    class="fas fa-eye" aria-hidden="true"></i>&nbsp;views
            </p>
            
            <p class="card-text">{{ post.content|slice:"250"|safe }}[...]</p>
            <a href="{{ post.post_link }}" class="btn btn-primary">Read more&nbsp;<i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
{% endfor %}