<div class="card mt-4">
    <div class="card-body bg-light">
        <h3 class="card-title">Top Posts</h3>
        {% for popular in popular_posts %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if popular.thumbnail %}
                    <img src="{{ popular.thumbnail.url }}" alt="popular-post-image" style="height: 80px; width: 80px;"
                        class="img-fluid rounded-start">
                    {% else %}
                    <img src="{{ popular.image_url }}" alt="popular-post-image" style="height: 80px; width: 80px;"
                        class="img-fluid rounded-start">
                    {% endif %}
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="car-link"><a href="{{ popular.post_link }}">{{ popular.title }}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>